.container {
  display: flex;
  justify-content: center;
  width: 85%;
}

@media (max-width: 770px) {
  .container {
    width: 100%;
  }
  .image {
    width: 100%;
  }
}

.formControl {
  width: 30%;
  margin-bottom: 30px !important;
}
